<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="./imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="./imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">John Smith</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> Layouts <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="layouts-normal.html" class="nav-link">
                                    <i class="icon icon-target"></i> Normal
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-fixed-sidebar.html" class="nav-link">
                                    <i class="icon icon-target"></i> Fixed Sidebar
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-fixed-header.html" class="nav-link">
                                    <i class="icon icon-target"></i> Fixed Header
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-hidden-sidebar.html" class="nav-link">
                                    <i class="icon icon-target"></i> Hidden Sidebar
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> UI Kits <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="alerts.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Alerts
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="buttons.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Buttons
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="cards.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Cards
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="modals.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Modals
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="tabs.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Tabs
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="progress-bars.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Progress Bars
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="widgets.html" class="nav-link">
                                    <i class="icon icon-energy"></i> Widgets
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> Charts <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="chartjs.html" class="nav-link">
                                    <i class="icon icon-graph"></i> Chart.js
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="forms.html" class="nav-link">
                            <i class="icon icon-puzzle"></i> Forms
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="tables.html" class="nav-link">
                            <i class="icon icon-grid"></i> Tables
                        </a>
                    </li>

                    <li class="nav-title">More</li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="blank.html" class="nav-link active">
                                    <i class="icon icon-umbrella"></i> Blank Page
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="login.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="register.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Register
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="invoice.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Invoice
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="404.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 404
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="500.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 500
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="settings.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <i class="icon icon-user"></i>&nbsp;&nbsp;
            <i class="icon icon-people"></i>&nbsp;&nbsp;
            <i class="icon icon-user-female"></i>&nbsp;&nbsp;
            <i class="icon icon-user-follow"></i>&nbsp;&nbsp;
            <i class="icon icon-user-following"></i>&nbsp;&nbsp;
            <i class="icon icon-user-unfollow"></i>&nbsp;&nbsp;
            <i class="icon icon-login"></i>&nbsp;&nbsp;
            <i class="icon icon-logout"></i>&nbsp;&nbsp;
            <i class="icon icon-emotsmile"></i>&nbsp;&nbsp;
            <i class="icon icon-phone"></i>&nbsp;&nbsp;
            <i class="icon icon-call-end"></i>&nbsp;&nbsp;
            <i class="icon icon-call-in"></i>&nbsp;&nbsp;
            <i class="icon icon-call-out"></i>&nbsp;&nbsp;
            <i class="icon icon-map"></i>&nbsp;&nbsp;
            <i class="icon icon-location-pin"></i>&nbsp;&nbsp;
            <i class="icon icon-direction"></i>&nbsp;&nbsp;
            <i class="icon icon-directions"></i>&nbsp;&nbsp;
            <i class="icon icon-compass"></i>&nbsp;&nbsp;
            <i class="icon icon-layers"></i>&nbsp;&nbsp;
            <i class="icon icon-menu"></i>&nbsp;&nbsp;
            <i class="icon icon-list"></i>&nbsp;&nbsp;
            <i class="icon icon-options-vertical"></i>&nbsp;&nbsp;
            <i class="icon icon-options"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-down"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-left"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-right"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-up"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-up-circle"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-left-circle"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-right-circle"></i>&nbsp;&nbsp;
            <i class="icon icon-arrow-down-circle"></i>&nbsp;&nbsp;
            <i class="icon icon-check"></i>&nbsp;&nbsp;
            <i class="icon icon-clock"></i>&nbsp;&nbsp;
            <i class="icon icon-plus"></i>&nbsp;&nbsp;
            <i class="icon icon-minus"></i>&nbsp;&nbsp;
            <i class="icon icon-close"></i>&nbsp;&nbsp;
            <i class="icon icon-event"></i>&nbsp;&nbsp;
            <i class="icon icon-exclamation"></i>&nbsp;&nbsp;
            <i class="icon icon-organization"></i>&nbsp;&nbsp;
            <i class="icon icon-trophy"></i>&nbsp;&nbsp;
            <i class="icon icon-screen-smartphone"></i>&nbsp;&nbsp;
            <i class="icon icon-screen-desktop"></i>&nbsp;&nbsp;
            <i class="icon icon-plane"></i>&nbsp;&nbsp;
            <i class="icon icon-notebook"></i>&nbsp;&nbsp;
            <i class="icon icon-mustache"></i>&nbsp;&nbsp;
            <i class="icon icon-mouse"></i>&nbsp;&nbsp;
            <i class="icon icon-magnet"></i>&nbsp;&nbsp;
            <i class="icon icon-energy"></i>&nbsp;&nbsp;
            <i class="icon icon-disc"></i>&nbsp;&nbsp;
            <i class="icon icon-cursor"></i>&nbsp;&nbsp;
            <i class="icon icon-cursor-move"></i>&nbsp;&nbsp;
            <i class="icon icon-crop"></i>&nbsp;&nbsp;
            <i class="icon icon-chemistry"></i>&nbsp;&nbsp;
            <i class="icon icon-speedometer"></i>&nbsp;&nbsp;
            <i class="icon icon-shield"></i>&nbsp;&nbsp;
            <i class="icon icon-screen-tablet"></i>&nbsp;&nbsp;
            <i class="icon icon-magic-wand"></i>&nbsp;&nbsp;
            <i class="icon icon-hourglass"></i>&nbsp;&nbsp;
            <i class="icon icon-graduation"></i>&nbsp;&nbsp;
            <i class="icon icon-ghost"></i>&nbsp;&nbsp;
            <i class="icon icon-game-controller"></i>&nbsp;&nbsp;
            <i class="icon icon-fire"></i>&nbsp;&nbsp;
            <i class="icon icon-eyeglass"></i>&nbsp;&nbsp;
            <i class="icon icon-envelope-open"></i>&nbsp;&nbsp;
            <i class="icon icon-envelope-letter"></i>&nbsp;&nbsp;
            <i class="icon icon-bell"></i>&nbsp;&nbsp;
            <i class="icon icon-badge"></i>&nbsp;&nbsp;
            <i class="icon icon-anchor"></i>&nbsp;&nbsp;
            <i class="icon icon-wallet"></i>&nbsp;&nbsp;
            <i class="icon icon-vector"></i>&nbsp;&nbsp;
            <i class="icon icon-speech"></i>&nbsp;&nbsp;
            <i class="icon icon-puzzle"></i>&nbsp;&nbsp;
            <i class="icon icon-printer"></i>&nbsp;&nbsp;
            <i class="icon icon-present"></i>&nbsp;&nbsp;
            <i class="icon icon-playlist"></i>&nbsp;&nbsp;
            <i class="icon icon-pin"></i>&nbsp;&nbsp;
            <i class="icon icon-picture"></i>&nbsp;&nbsp;
            <i class="icon icon-handbag"></i>&nbsp;&nbsp;
            <i class="icon icon-globe-alt"></i>&nbsp;&nbsp;
            <i class="icon icon-globe"></i>&nbsp;&nbsp;
            <i class="icon icon-folder-alt"></i>&nbsp;&nbsp;
            <i class="icon icon-folder"></i>&nbsp;&nbsp;
            <i class="icon icon-film"></i>&nbsp;&nbsp;
            <i class="icon icon-feed"></i>&nbsp;&nbsp;
            <i class="icon icon-drop"></i>&nbsp;&nbsp;
            <i class="icon icon-drawer"></i>&nbsp;&nbsp;
            <i class="icon icon-docs"></i>&nbsp;&nbsp;
            <i class="icon icon-doc"></i>&nbsp;&nbsp;
            <i class="icon icon-diamond"></i>&nbsp;&nbsp;
            <i class="icon icon-cup"></i>&nbsp;&nbsp;
            <i class="icon icon-calculator"></i>&nbsp;&nbsp;
            <i class="icon icon-bubbles"></i>&nbsp;&nbsp;
            <i class="icon icon-briefcase"></i>&nbsp;&nbsp;
            <i class="icon icon-book-open"></i>&nbsp;&nbsp;
            <i class="icon icon-basket-loaded"></i>&nbsp;&nbsp;
            <i class="icon icon-basket"></i>&nbsp;&nbsp;
            <i class="icon icon-bag"></i>&nbsp;&nbsp;
            <i class="icon icon-action-undo"></i>&nbsp;&nbsp;
            <i class="icon icon-action-redo"></i>&nbsp;&nbsp;
            <i class="icon icon-wrench"></i>&nbsp;&nbsp;
            <i class="icon icon-umbrella"></i>&nbsp;&nbsp;
            <i class="icon icon-trash"></i>&nbsp;&nbsp;
            <i class="icon icon-tag"></i>&nbsp;&nbsp;
            <i class="icon icon-support"></i>&nbsp;&nbsp;
            <i class="icon icon-frame"></i>&nbsp;&nbsp;
            <i class="icon icon-size-fullscreen"></i>&nbsp;&nbsp;
            <i class="icon icon-size-actual"></i>&nbsp;&nbsp;
            <i class="icon icon-shuffle"></i>&nbsp;&nbsp;
            <i class="icon icon-share-alt"></i>&nbsp;&nbsp;
            <i class="icon icon-share"></i>&nbsp;&nbsp;
            <i class="icon icon-rocket"></i>&nbsp;&nbsp;
            <i class="icon icon-question"></i>&nbsp;&nbsp;
            <i class="icon icon-pie-chart"></i>&nbsp;&nbsp;
            <i class="icon icon-pencil"></i>&nbsp;&nbsp;
            <i class="icon icon-note"></i>&nbsp;&nbsp;
            <i class="icon icon-loop"></i>&nbsp;&nbsp;
            <i class="icon icon-home"></i>&nbsp;&nbsp;
            <i class="icon icon-grid"></i>&nbsp;&nbsp;
            <i class="icon icon-graph"></i>&nbsp;&nbsp;
            <i class="icon icon-microphone"></i>&nbsp;&nbsp;
            <i class="icon icon-music-tone-alt"></i>&nbsp;&nbsp;
            <i class="icon icon-music-tone"></i>&nbsp;&nbsp;
            <i class="icon icon-earphones-alt"></i>&nbsp;&nbsp;
            <i class="icon icon-earphones"></i>&nbsp;&nbsp;
            <i class="icon icon-equalizer"></i>&nbsp;&nbsp;
            <i class="icon icon-like"></i>&nbsp;&nbsp;
            <i class="icon icon-dislike"></i>&nbsp;&nbsp;
            <i class="icon icon-control-start"></i>&nbsp;&nbsp;
            <i class="icon icon-control-rewind"></i>&nbsp;&nbsp;
            <i class="icon icon-control-play"></i>&nbsp;&nbsp;
            <i class="icon icon-control-pause"></i>&nbsp;&nbsp;
            <i class="icon icon-control-forward"></i>&nbsp;&nbsp;
            <i class="icon icon-control-end"></i>&nbsp;&nbsp;
            <i class="icon icon-volume-1"></i>&nbsp;&nbsp;
            <i class="icon icon-volume-2"></i>&nbsp;&nbsp;
            <i class="icon icon-volume-off"></i>&nbsp;&nbsp;
            <i class="icon icon-calendar"></i>&nbsp;&nbsp;
            <i class="icon icon-bulb"></i>&nbsp;&nbsp;
            <i class="icon icon-chart"></i>&nbsp;&nbsp;
            <i class="icon icon-ban"></i>&nbsp;&nbsp;
            <i class="icon icon-bubble"></i>&nbsp;&nbsp;
            <i class="icon icon-camrecorder"></i>&nbsp;&nbsp;
            <i class="icon icon-camera"></i>&nbsp;&nbsp;
            <i class="icon icon-cloud-download"></i>&nbsp;&nbsp;
            <i class="icon icon-cloud-upload"></i>&nbsp;&nbsp;
            <i class="icon icon-envelope"></i>&nbsp;&nbsp;
            <i class="icon icon-eye"></i>&nbsp;&nbsp;
            <i class="icon icon-flag"></i>&nbsp;&nbsp;
            <i class="icon icon-heart"></i>&nbsp;&nbsp;
            <i class="icon icon-info"></i>&nbsp;&nbsp;
            <i class="icon icon-key"></i>&nbsp;&nbsp;
            <i class="icon icon-link"></i>&nbsp;&nbsp;
            <i class="icon icon-lock"></i>&nbsp;&nbsp;
            <i class="icon icon-lock-open"></i>&nbsp;&nbsp;
            <i class="icon icon-magnifier"></i>&nbsp;&nbsp;
            <i class="icon icon-magnifier-add"></i>&nbsp;&nbsp;
            <i class="icon icon-magnifier-remove"></i>&nbsp;&nbsp;
            <i class="icon icon-paper-clip"></i>&nbsp;&nbsp;
            <i class="icon icon-paper-plane"></i>&nbsp;&nbsp;
            <i class="icon icon-power"></i>&nbsp;&nbsp;
            <i class="icon icon-refresh"></i>&nbsp;&nbsp;
            <i class="icon icon-reload"></i>&nbsp;&nbsp;
            <i class="icon icon-settings"></i>&nbsp;&nbsp;
            <i class="icon icon-star"></i>&nbsp;&nbsp;
            <i class="icon icon-symbol-female"></i>&nbsp;&nbsp;
            <i class="icon icon-symbol-male"></i>&nbsp;&nbsp;
            <i class="icon icon-target"></i>&nbsp;&nbsp;
            <i class="icon icon-credit-card"></i>&nbsp;&nbsp;
            <i class="icon icon-paypal"></i>&nbsp;&nbsp;
            <i class="icon icon-social-tumblr"></i>&nbsp;&nbsp;
            <i class="icon icon-social-twitter"></i>&nbsp;&nbsp;
            <i class="icon icon-social-facebook"></i>&nbsp;&nbsp;
            <i class="icon icon-social-instagram"></i>&nbsp;&nbsp;
            <i class="icon icon-social-linkedin"></i>&nbsp;&nbsp;
            <i class="icon icon-social-pinterest"></i>&nbsp;&nbsp;
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;
            <i class="icon icon-social-google"></i>&nbsp;&nbsp;
            <i class="icon icon-social-reddit"></i>&nbsp;&nbsp;
            <i class="icon icon-social-skype"></i>&nbsp;&nbsp;
            <i class="icon icon-social-dribbble"></i>&nbsp;&nbsp;
            <i class="icon icon-social-behance"></i>&nbsp;&nbsp;
            <i class="icon icon-social-foursqare"></i>&nbsp;&nbsp;
            <i class="icon icon-social-soundcloud"></i>&nbsp;&nbsp;
            <i class="icon icon-social-spotify"></i>&nbsp;&nbsp;
            <i class="icon icon-social-stumbleupon"></i>&nbsp;&nbsp;
            <i class="icon icon-social-youtube"></i>&nbsp;&nbsp;
            <i class="icon icon-social-dropbox"></i>&nbsp;&nbsp;
            <i class="icon icon-social-vkontakte"></i>&nbsp;&nbsp;
            <i class="icon icon-social-steam"></i>&nbsp;&nbsp;
        </div>
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
</body>
</html>
